@charset "UTF-8";
/* ==========================================================================
   Utilites
   ========================================================================== */
.prod__head {
  position: relative;
  z-index: 1;
  background: #A0A0A1;
  color: #fff; }
  .prod__head .container-fluid {
    position: relative;
    padding-top: 220rem;
    padding-bottom: 220rem; }
  @media (max-width: 767px) {
    .prod__head .container-fluid {
      padding-top: 30rem;
      padding-bottom: 70rem; } }

.prod__head-image {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 100vw;
  margin: 0 0 0 -50vw;
  z-index: -1; }
  .prod__head-image img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }

.prod__head-breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 20rem;
  left: 20rem;
  font-size: 14rem;
  line-height: 30rem;
  font-weight: 400;
  display: -ms-flexbox;
  display: flex; }
  .prod__head-breadcrumbs > li:first-child .prod__head-breadcrumbs-link {
    background: #fff;
    color: #000;
    padding: 0 15rem 0 20rem; }
    .prod__head-breadcrumbs > li:first-child .prod__head-breadcrumbs-link:after {
      border-left-color: #fff; }
  @media (max-width: 767px) {
    .prod__head-breadcrumbs {
      display: none; } }

.prod__head-breadcrumbs-link {
  display: block;
  padding: 0 20rem 0 30rem;
  text-decoration: none;
  background: #E30613;
  color: #fff;
  position: relative; }
  .prod__head-breadcrumbs-link:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 100%;
    border-top: 15rem solid transparent;
    border-bottom: 15rem solid transparent;
    border-left: 10rem solid #E30613;
    z-index: 2; }

.prod__head-social {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 20rem;
  right: 20rem;
  font-size: 14rem;
  line-height: 30rem;
  font-weight: 400;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  color: #fff; }
  .prod__head-social > li {
    margin: 0 0 0 16rem; }
  @media (max-width: 767px) {
    .prod__head-social {
      position: relative;
      top: 0;
      right: 0;
      -ms-flex-pack: center;
      justify-content: center;
      margin: 0 0 30rem; }
      .prod__head-social > li:first-child {
        display: none; } }

.prod__head-social-link {
  display: block;
  text-decoration: none;
  color: #fff;
  transition: 0.25s; }
  .prod__head-social-link:hover {
    opacity: 0.5; }

.prod__head-desc {
  display: block;
  max-width: 800rem;
  margin: 0 auto;
  text-align: center;
  font-size: 20rem;
  line-height: 30rem;
  font-weight: 300;
  text-shadow: 0 0 6px #000;
  width: 90%; }
  @media (max-width: 767px) {
    .prod__head-desc {
      font-size: 18rem;
      line-height: 24rem; } }

.prod__head-title {
  display: block;
  text-transform: uppercase;
  font-size: 60rem;
  line-height: 70rem;
  font-weight: 700;
  margin: 0 0 25rem; }
  @media (max-width: 991px) {
    .prod__head-title {
      font-size: 50rem;
      line-height: 60rem; } }
  @media (max-width: 767px) {
    .prod__head-title {
      font-size: 40rem;
      line-height: 50rem; } }
  @media (max-width: 575px) {
    .prod__head-title {
      font-size: 30rem;
      line-height: 36rem; } }

.prod__head-text {
  display: block;
  max-width: 600rem;
  margin: 0 auto; }

.prod__body .container-fluid {
  max-width: 1040rem; }

.prod__blockquote {
  position: relative;
  border: none;
  padding: 50rem 20rem 50rem;
  margin: 0 auto;
  max-width: 840rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  font-size: 16rem;
  line-height: 26rem;
  font-weight: 300;
  font-style: normal;
  color: #707070; }
  .prod__blockquote:after {
    content: '«';
    display: block;
    position: absolute;
    top: 28rem;
    left: -10rem;
    color: #e30613;
    font-size: 72rem;
    line-height: 1;
    font-weight: 700; }
  @media (max-width: 767px) {
    .prod__blockquote {
      font-size: 15rem;
      text-align: left;
      padding: 50rem 0;
      display: block; }
      .prod__blockquote:after {
        display: none; } }

.prod__blockquote-image {
  margin: 0 0 0 60rem; }
  @media (max-width: 767px) {
    .prod__blockquote-image {
      display: none; } }

.prod__blockquote-desc {
  -ms-flex: 1;
  flex: 1;
  text-align: right;
  padding: 0 0 0 10rem; }
  .prod__blockquote-desc p {
    margin: 0 0 26rem; }
  .prod__blockquote-desc small {
    display: block;
    font-weight: 400;
    color: #707070;
    font-size: inherit;
    line-height: inherit; }
  @media (max-width: 767px) {
    .prod__blockquote-desc {
      text-align: left;
      padding: 0; } }

.prod__blockquote-cite {
  display: block;
  font-style: normal;
  line-height: 20rem;
  font-weight: 700;
  color: #000; }
  @media (max-width: 767px) {
    .prod__blockquote-cite {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center; } }
  @media (max-width: 575px) {
    .prod__blockquote-cite {
      -ms-flex-pack: justify;
      justify-content: space-between; } }

.prod__blockquote-cite-author {
  display: block; }

.prod__blockquote-cite-image {
  display: none; }
  @media (max-width: 767px) {
    .prod__blockquote-cite-image {
      display: block;
      margin: 0 0 0 30rem;
      width: 90rem; } }

.prod__scheme {
  position: relative;
  z-index: 1; }
  .prod__scheme:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 100vw;
    margin: 0 0 0 -50vw;
    background: #F7F7F7;
    z-index: -1; }

.prod__scheme-group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.prod__scheme-image {
  display: block;
  position: relative;
  left: 50%;
  margin: 0 0 0 -50vw;
  width: 100vw; }
  .prod__scheme-image img {
    display: block;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    min-height: 180rem; }
  .prod__scheme-image figcaption {
    max-width: 1000rem;
    display: block;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0 3px 24px rgba(0, 0, 0, 0.07);
    font-size: 18rem;
    line-height: 30rem;
    font-weight: 300;
    font-style: normal;
    color: #000000;
    text-align: center;
    padding: 50rem 140rem;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%); }
  @media (max-width: 991px) {
    .prod__scheme-image {
      margin-bottom: 80rem; }
      .prod__scheme-image figcaption {
        -ms-transform: none;
        transform: none; } }
  @media (max-width: 767px) {
    .prod__scheme-image {
      font-size: 16rem;
      line-height: 24rem;
      margin-bottom: 40rem; }
      .prod__scheme-image figcaption {
        padding: 40rem; } }
  @media (max-width: 575px) {
    .prod__scheme-image figcaption {
      padding: 40rem 20rem; } }

.prod__scheme-title {
  display: block;
  text-align: center;
  font-size: 30rem;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 64rem;
  width: 100%; }
  @media (max-width: 767px) {
    .prod__scheme-title {
      font-size: 24rem;
      line-height: 30rem;
      margin: 0 0 30rem; } }

.prod__scheme-item {
  position: relative;
  z-index: 1; }
  .prod__scheme-item .row {
    margin: 0; }
    .prod__scheme-item .row > [class^="col-"] {
      padding: 0; }
  .prod__scheme-item:after, .prod__scheme-item:before {
    content: '';
    display: block;
    position: absolute;
    background: #CCCCCC;
    z-index: -1; }
  .prod__scheme-item--01 {
    width: 100%;
    -ms-flex-order: 1;
    order: 1; }
    .prod__scheme-item--01 .row {
      -ms-flex-align: center;
      align-items: center; }
    .prod__scheme-item--01:after {
      top: 0;
      bottom: 0;
      left: 50%;
      width: 8rem;
      margin: 0 0 0 -4rem;
      border-radius: 0 0 4rem 0; }
    .prod__scheme-item--01:before {
      height: 8rem;
      right: 50%;
      left: 50rem;
      bottom: 0;
      border-radius: 4rem 0 4rem 0; }
    .prod__scheme-item--01 .prod__scheme-item-icon {
      position: absolute;
      top: 130rem;
      left: 0;
      margin: 0 0 0 -50rem; }
    .prod__scheme-item--01 .prod__scheme-item-image {
      margin: 0 -50rem; }
    .prod__scheme-item--01 .prod__scheme-item-desc {
      padding: 150rem 0 10rem 90rem; }
  .prod__scheme-item--02 {
    -ms-flex-order: 1;
    order: 1;
    width: 100%; }
    .prod__scheme-item--02:after {
      top: 0;
      bottom: 0;
      left: 50rem;
      width: 8rem; }
    .prod__scheme-item--02 .prod__scheme-item-icon {
      position: absolute;
      top: 40rem;
      left: 4rem; }
    .prod__scheme-item--02 .prod__scheme-item-image {
      padding: 60rem 0 60rem 40rem;
      min-width: 50vw; }
    .prod__scheme-item--02 .prod__scheme-item-desc {
      padding: 60rem 40rem 60rem 140rem; }
      .prod__scheme-item--02 .prod__scheme-item-desc figure {
        margin: 0 0 50rem -200rem; }
  .prod__scheme-item--03 {
    -ms-flex-order: 3;
    order: 3;
    width: 50%; }
    .prod__scheme-item--03:after {
      top: 0;
      left: 50rem;
      right: 0;
      height: 8rem;
      border-radius: 0 0 0 4rem; }
    .prod__scheme-item--03 .prod__scheme-item-icon {
      position: absolute;
      left: 4rem;
      top: -50rem; }
    .prod__scheme-item--03 .prod__scheme-item-desc {
      padding: 86rem 140rem 65rem 46rem; }
      .prod__scheme-item--03 .prod__scheme-item-desc figure {
        margin: 0 -60rem 20rem -160rem; }
  .prod__scheme-item--04 {
    -ms-flex-order: 4;
    order: 4;
    width: 50%; }
    .prod__scheme-item--04:after {
      top: 0;
      left: 50rem;
      right: -50rem;
      height: 8rem;
      border-radius: 0 4rem 0 0; }
    .prod__scheme-item--04:before {
      top: 0;
      bottom: 0;
      width: 8rem;
      right: -50rem;
      border-radius: 0 4rem 0 0; }
    .prod__scheme-item--04 .prod__scheme-item-icon {
      position: absolute;
      left: -25rem;
      top: -50rem; }
    .prod__scheme-item--04 .prod__scheme-item-desc {
      padding: 86rem 140rem 65rem 0; }
      .prod__scheme-item--04 .prod__scheme-item-desc figure {
        margin: 0 0 0 -80rem;
        min-width: 60vw; }
  .prod__scheme-item--05 {
    -ms-flex-order: 5;
    order: 5;
    width: 64%; }
    .prod__scheme-item--05:after {
      top: 0;
      left: 50rem;
      right: calc(-56.25% - 50rem);
      height: 8rem;
      border-radius: 0 0 4rem 4rem; }
    .prod__scheme-item--05:before {
      top: 0;
      bottom: 0;
      left: 50rem;
      width: 8rem; }
    .prod__scheme-item--05 .prod__scheme-item-icon {
      position: absolute;
      left: 4rem;
      top: -50rem; }
    .prod__scheme-item--05 .prod__scheme-item-desc {
      display: inline-block;
      vertical-align: top;
      width: 100%;
      padding: 76rem 140rem 50rem 140rem; }
      .prod__scheme-item--05 .prod__scheme-item-desc figure {
        margin: 0 90rem 0 0;
        padding: 45rem 0;
        min-width: 50vw;
        float: right; }
        .prod__scheme-item--05 .prod__scheme-item-desc figure img {
          min-width: 100%; }
  .prod__scheme-item--06 {
    -ms-flex-order: 6;
    order: 6;
    width: 36%; }
    .prod__scheme-item--06:after {
      top: 0;
      left: 50rem;
      right: -50rem;
      height: 8rem;
      border-radius: 0 0 4rem 0; }
    .prod__scheme-item--06 .prod__scheme-item-icon {
      position: absolute;
      left: 0;
      top: -50rem; }
    .prod__scheme-item--06 .prod__scheme-item-desc {
      margin: 0 -20rem 0 0;
      padding: 76rem 0 50rem 0; }
      .prod__scheme-item--06 .prod__scheme-item-desc figure {
        margin: 0 0 0 -120rem;
        min-width: 60vw; }
  .prod__scheme-item--07 {
    -ms-flex-order: 7;
    order: 7;
    width: 55%;
    margin: -140rem 0 0; }
    .prod__scheme-item--07:after {
      top: 0;
      left: 50rem;
      bottom: 0;
      width: 8rem;
      border-radius: 0 0 4rem 0; }
    .prod__scheme-item--07 .prod__scheme-item-icon {
      position: absolute;
      left: 4rem;
      top: 50%;
      margin: -130rem 0 0; }
    .prod__scheme-item--07 .prod__scheme-item-desc {
      padding: 0 80rem 140rem 140rem; }
  .prod__scheme-item--08 {
    -ms-flex-order: 8;
    order: 8;
    width: 50%; }
    .prod__scheme-item--08:after {
      top: 0;
      left: 50rem;
      right: 0;
      height: 8rem;
      border-radius: 0 0 0 4rem; }
    .prod__scheme-item--08 .prod__scheme-item-icon {
      position: absolute;
      left: 4rem;
      top: -50rem; }
    .prod__scheme-item--08 .prod__scheme-item-desc {
      padding: 76rem 140rem 100rem 4rem; }
      .prod__scheme-item--08 .prod__scheme-item-desc figure {
        padding: 15rem 0;
        margin: 0 -60rem 0 -160rem; }
  .prod__scheme-item--09 {
    -ms-flex-order: 9;
    order: 9;
    width: 50%; }
    .prod__scheme-item--09:after {
      top: 0;
      bottom: 0;
      width: 8rem;
      left: 0; }
    .prod__scheme-item--09 .prod__scheme-item-icon {
      position: absolute;
      left: -46rem;
      top: 0; }
    .prod__scheme-item--09 .prod__scheme-item-desc {
      padding: 0 120rem 100rem 96rem;
      position: relative;
      margin: -50rem 0 0; }
      .prod__scheme-item--09 .prod__scheme-item-desc figure {
        min-width: 60vw;
        margin: 0 0 0 -140rem; }
        .prod__scheme-item--09 .prod__scheme-item-desc figure img {
          min-width: 100%; }
  .prod__scheme-item--10 {
    -ms-flex-order: 10;
    order: 10;
    width: 50%; }
    .prod__scheme-item--10:after {
      top: 0;
      left: 50rem;
      right: 0;
      height: 8rem;
      border-radius: 0 0 0 4rem; }
    .prod__scheme-item--10 .prod__scheme-item-icon {
      position: absolute;
      left: 4rem;
      top: -50rem; }
    .prod__scheme-item--10 .prod__scheme-item-desc {
      padding: 76rem 60rem 60rem 4rem; }
      .prod__scheme-item--10 .prod__scheme-item-desc figure {
        padding: 15rem 0;
        margin: 0 0 0 -160rem; }
  .prod__scheme-item--11 {
    -ms-flex-order: 11;
    order: 11;
    width: 50%; }
    .prod__scheme-item--11 .prod__scheme-item-icon {
      position: absolute;
      left: -46rem;
      top: 0; }
    .prod__scheme-item--11 .prod__scheme-item-desc {
      padding: 0 100rem 60rem 96rem;
      position: relative;
      margin: -50rem 0 0; }
      .prod__scheme-item--11 .prod__scheme-item-desc figure {
        min-width: 60vw;
        margin: 0 0 0 -96rem; }
  @media (max-width: 767px) {
    .prod__scheme-item {
      padding: 10rem 0 10rem 100rem;
      width: 100%; }
      .prod__scheme-item:before {
        display: none; }
      .prod__scheme-item:after {
        height: auto;
        right: auto;
        top: 0;
        left: 40rem;
        bottom: 0;
        width: 8rem;
        margin: 0 0 0 -4rem;
        border-radius: 0; }
      .prod__scheme-item .prod__scheme-item-arrow {
        top: 0;
        left: 15rem;
        margin: 0;
        width: 50rem;
        height: 50rem; }
      .prod__scheme-item .prod__scheme-item-icon {
        top: 0;
        left: -100rem;
        width: 80rem;
        height: 80rem;
        margin: 0; }
        .prod__scheme-item .prod__scheme-item-icon [class^="icon-"] {
          -ms-transform: scale(0.666);
          transform: scale(0.666); }
      .prod__scheme-item .prod__scheme-item-desc {
        margin: 0;
        padding: 20rem 0; }
        .prod__scheme-item .prod__scheme-item-desc figure {
          max-width: none;
          margin: 0 -20rem 20rem -120rem; }
      .prod__scheme-item .prod__scheme-item-image {
        width: auto;
        margin: 0 -20rem 0 -120rem;
        padding: 20rem 0; }
        .prod__scheme-item .prod__scheme-item-image img {
          width: 100%; }
      .prod__scheme-item--01 {
        -ms-flex-order: 1;
        order: 1;
        padding-top: 80rem; }
        .prod__scheme-item--01 .prod__scheme-item-image img {
          width: auto; }
      .prod__scheme-item--02 {
        -ms-flex-order: 2;
        order: 2; }
      .prod__scheme-item--03 {
        -ms-flex-order: 3;
        order: 3; }
      .prod__scheme-item--02 {
        -ms-flex-order: 2;
        order: 2; }
      .prod__scheme-item--04 {
        -ms-flex-order: 4;
        order: 4; }
      .prod__scheme-item--05 {
        -ms-flex-order: 6;
        order: 6; }
        .prod__scheme-item--05 .prod__scheme-item-desc figure {
          float: left; }
          .prod__scheme-item--05 .prod__scheme-item-desc figure img {
            min-width: auto; }
      .prod__scheme-item--06 {
        -ms-flex-order: 5;
        order: 5; }
      .prod__scheme-item--07 {
        -ms-flex-order: 7;
        order: 7; }
      .prod__scheme-item--08 {
        -ms-flex-order: 8;
        order: 8; }
      .prod__scheme-item--09 {
        -ms-flex-order: 9;
        order: 9; }
      .prod__scheme-item--10 {
        -ms-flex-order: 11;
        order: 11; }
        .prod__scheme-item--10:after {
          height: 50%;
          bottom: auto; }
      .prod__scheme-item--11 {
        -ms-flex-order: 10;
        order: 10; } }

.prod__scheme-item-icon {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100rem;
  height: 100rem;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.1);
  color: #000;
  z-index: 5; }
  .prod__scheme-item-icon [class^="icon-"] {
    position: relative;
    fill: none;
    stroke: currentColor;
    stroke-width: 3; }
  .prod__scheme-item-icon .icon-scheme-01 {
    top: -4rem; }

.prod__scheme-item-arrow {
  width: 50rem;
  height: 50rem;
  border-radius: 50%;
  color: #fff;
  background-color: #e30613;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 50%;
  margin: 0 0 0 -25rem;
  z-index: 10; }

.prod__scheme-item-image {
  display: block; }

.prod__scheme-item-desc {
  position: relative;
  font-size: 14rem;
  line-height: 18rem;
  font-weight: 300;
  color: #707070; }
  .prod__scheme-item-desc h2, .prod__scheme-item-desc h3 {
    display: block;
    font-size: 20rem;
    line-height: 24rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
    margin: 0 0 20rem; }
  .prod__scheme-item-desc p {
    margin: 0 0 20rem; }
  .prod__scheme-item-desc figure {
    margin: 0 0 20rem; }
  @media (max-width: 767px) {
    .prod__scheme-item-desc h2, .prod__scheme-item-desc h3 {
      font-size: 16rem;
      line-height: 20rem; } }

.prod__layers {
  position: relative;
  z-index: 1;
  display: block;
  padding: 30rem 0; }
  .prod__layers:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 100vw;
    margin: 0 0 0 -50vw;
    z-index: -1;
    background: #F7F7F7; }
  .prod__layers .row {
    margin: 0 -40rem; }
    .prod__layers .row > [class^="col-"] {
      padding: 0 40rem; }
    @media (max-width: 1199px) {
      .prod__layers .row {
        margin: 0 -15rem; }
        .prod__layers .row > [class^="col-"] {
          padding: 0 15rem; } }

.prod__layers-image {
  display: block;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin: -80rem -80rem -80rem 0; }
  .prod__layers-image img {
    min-width: 60vw; }
  @media (max-width: 575px) {
    .prod__layers-image {
      margin: 0 -20rem 40rem;
      -ms-flex-pack: start;
      justify-content: flex-start; } }

.prod__layers-desc {
  font-size: 15rem;
  line-height: 24rem;
  font-weight: 300;
  color: #707070;
  padding: 0 0 0 25rem; }
  .prod__layers-desc ol {
    margin: 0;
    padding: 0;
    list-style: none;
    counter-reset: point; }
    .prod__layers-desc ol > li {
      position: relative;
      padding: 0 0 0 50rem;
      margin: 0 0 50rem; }
      .prod__layers-desc ol > li:after {
        content: counter(point);
        counter-increment: point 1;
        position: absolute;
        top: 0;
        left: 0;
        color: #fff;
        width: 24rem;
        height: 24rem;
        line-height: 24rem;
        border-radius: 50%;
        background: #E30613;
        text-align: center; }
  @media (max-width: 575px) {
    .prod__layers-desc {
      padding: 0;
      font-size: 14rem;
      line-height: 18rem; }
      .prod__layers-desc ol > li {
        padding: 0 0 0 40rem;
        margin: 0 0 22rem; } }

.prod__layers-info {
  margin: 0 -20rem -10rem;
  padding: 0;
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-size: 15rem;
  line-height: 24rem;
  font-weight: 300;
  color: #707070; }
  .prod__layers-info > li {
    width: 33.333%;
    padding: 0 20rem; }
  .prod__layers-info picture {
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
    max-width: 150rem;
    margin: 0 0 24rem; }
    .prod__layers-info picture:before {
      content: '';
      float: left;
      padding: 100% 0 0; }
    .prod__layers-info picture img {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover; }
  .prod__layers-info h2, .prod__layers-info h3 {
    display: block;
    font-size: 20rem;
    line-height: 24rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
    margin: 0 0 24rem; }
  .prod__layers-info p {
    margin: 0 0 24rem; }
  @media (max-width: 767px) {
    .prod__layers-info {
      padding: 40rem 0 0; }
      .prod__layers-info picture {
        display: none; }
      .prod__layers-info h2, .prod__layers-info h3 {
        margin: 0 0 12rem; }
      .prod__layers-info p {
        margin: 0 0 12rem; }
      .prod__layers-info > li {
        width: 100%;
        margin: 0 0 24rem; } }

.prod__section {
  position: relative;
  z-index: 1;
  display: block;
  padding: 0 0 80rem;
  font-size: 15rem;
  line-height: 24rem;
  font-weight: 300;
  color: #707070; }
  .prod__section h2, .prod__section h3 {
    display: block;
    font-size: 30rem;
    line-height: 36rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
    margin: 0 0 24rem; }
    @media (max-width: 767px) {
      .prod__section h2, .prod__section h3 {
        font-size: 24rem;
        line-height: 30rem; } }
  .prod__section p {
    margin: 0 0 24rem; }
  .prod__section figure {
    margin: 0 0 24rem; }
  .prod__section mark {
    display: inline-block;
    vertical-align: top;
    font-size: 24rem;
    line-height: 44rem;
    font-weight: 700;
    color: #fff;
    background: #E30613;
    padding: 0 10rem;
    text-align: center;
    min-width: 44rem;
    margin: 0 0 24rem;
    white-space: nowrap;
    position: relative;
    text-transform: uppercase; }
    .prod__section mark small {
      display: block;
      font-size: 14rem;
      line-height: inherit;
      font-weight: 700;
      position: absolute;
      top: 0;
      left: 100%;
      margin: 0 0 0 20rem;
      color: #e30613; }
  .prod__section:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 100vw;
    margin: 0 0 0 -50vw;
    z-index: -1;
    background: #F7F7F7; }
  .prod__section .row {
    margin: 0 -40rem; }
    .prod__section .row > [class^="col-"] {
      padding: 0 40rem; }
    @media (max-width: 1199px) {
      .prod__section .row {
        margin: 0 -15rem; }
        .prod__section .row > [class^="col-"] {
          padding: 0 15rem; } }
  .prod__section--materials {
    padding: 95rem 0 40rem; }
  .prod__section--white:after {
    background: #fff; }
  .prod__section-tile--01 {
    padding: 0 0 120rem; }
    .prod__section-tile--01 .prod__section-desc {
      padding: 0 0 40rem; }
  .prod__section-tile--02 .prod__section-desc {
    margin: -180rem 0 0;
    padding: 0 0 40rem; }
  .prod__section-tile--03 .prod__section-desc {
    padding: 80rem 0 0; }
  .prod__section--fiber-01 .prod__section-image--right {
    padding: 68rem 0; }
  .prod__section--fiber-01 .prod__section-desc {
    padding: 0 0 40rem; }
  .prod__section--fiber-02 .prod__section-desc {
    padding: 0 0 40rem; }
  .prod__section--fiber-03 {
    padding: 0 0 110rem; }
    .prod__section--fiber-03 .prod__section-image--left {
      padding: 10rem 0 0; }
    .prod__section--fiber-03 .prod__section-desc {
      padding: 0 0 40rem; }
  .prod__section--glasswear-01 .prod__section-image--right {
    padding: 68rem 0; }
  .prod__section--glasswear-01 .prod__section-desc {
    padding: 0 0 40rem; }
  .prod__section--glasswear-02 .prod__section-desc {
    padding: 0 0 40rem; }
  .prod__section--glasswear-03 .prod__section-desc {
    padding: 0 0 40rem; }
  .prod__section--glasswear-04 .prod__section-desc {
    padding: 0 0 40rem; }
  .prod__section--glasswear-05_06 {
    padding: 0 0 20rem; }
    .prod__section--glasswear-05_06 .prod__section-image--left {
      padding: 40rem 0 0; }
    .prod__section--glasswear-05_06 .prod__section-image--right {
      padding: 68rem 0; }
    .prod__section--glasswear-05_06 .prod__section-desc {
      padding: 0 0 40rem; }
  .prod__section--glasswear-07 {
    padding: 0; }
    .prod__section--glasswear-07 .prod__section-image--100vw {
      margin-bottom: 60rem; }
    .prod__section--glasswear-07 .prod__section-desc {
      padding: 30rem 0 40rem; }
  .prod__section--glasswear-08 .prod__section-desc {
    padding: 110rem 0 40rem; }
  .prod__section--bitum-01 {
    padding: 80rem 0 0; }
    .prod__section--bitum-01 .row {
      -ms-flex-align: center;
      align-items: center; }
    .prod__section--bitum-01 .prod__section-desc {
      padding: 40rem 0; }
    .prod__section--bitum-01 .prod__section-image--offset {
      margin: 0 -40rem -220rem;
      text-align: center;
      z-index: 2; }
  .prod__section--bitum-02 .prod__section-image--offset {
    margin: 0 0 0 -160rem;
    text-align: left; }
  .prod__section--bitum-03 {
    padding: 80rem 0 0;
    z-index: 10; }
    .prod__section--bitum-03 .row {
      -ms-flex-align: center;
      align-items: center; }
    .prod__section--bitum-03 .prod__section-image--offset {
      margin: -160rem 0 40rem; }
    .prod__section--bitum-03 .prod__section-desc {
      padding: 0 0 100rem; }
    .prod__section--bitum-03 .prod__section-caption {
      margin: 0;
      z-index: 10; }
      .prod__section--bitum-03 .prod__section-caption:after {
        background: #EBEBEB; }
      .prod__section--bitum-03 .prod__section-caption .prod__section-desc {
        padding: 30rem 0;
        max-width: 380rem; }
  .prod__section--bitum-04 {
    padding: 100rem 0 0;
    z-index: 5; }
    .prod__section--bitum-04 .row {
      -ms-flex-align: center;
      align-items: center; }
    .prod__section--bitum-04 .prod__section-desc {
      padding: 0; }
      .prod__section--bitum-04 .prod__section-desc figure {
        position: relative;
        margin: 60rem 0 -120rem; }
  .prod__section--bitum-05_1 {
    padding: 160rem 0 80rem; }
    .prod__section--bitum-05_1 .prod__section-image {
      padding: 0 0 40rem; }
    .prod__section--bitum-05_1 .prod__section-desc {
      padding: 0 0 20rem; }
  .prod__section--bitum-05_2 {
    padding: 80rem 0; }
    .prod__section--bitum-05_2 .prod__section-image--left {
      padding: 64rem 0 80rem; }
    .prod__section--bitum-05_2 .prod__section-desc {
      padding: 0; }
  @media (max-width: 767px) {
    .prod__section {
      padding: 40rem 0; }
      .prod__section .prod__section-desc {
        padding: 0; }
      .prod__section .prod__section-panel {
        top: 0;
        margin: 0 -20rem; }
      .prod__section .prod__section-panel-image {
        margin: -80rem 0 20rem; }
      .prod__section .prod__section-panel-desc {
        font-size: 15rem;
        line-height: 24rem; }
      .prod__section--bitum-01 .prod__section-image--offset {
        margin: 0 0 -140rem; }
      .prod__section--bitum-01 .prod__section-image--100vw img {
        min-height: 240rem;
        -o-object-fit: cover;
        object-fit: cover; }
      .prod__section--bitum-02 .prod__section-image--offset {
        margin: 0 0 20rem; }
      .prod__section--bitum-03 {
        padding-bottom: 0; }
        .prod__section--bitum-03 .prod__section-image--offset {
          margin: 0 0 20rem; }
        .prod__section--bitum-03 .prod__section-caption {
          margin: 80rem 0 0; }
          .prod__section--bitum-03 .prod__section-caption .prod__section-image {
            margin: -60rem 0 0; }
          .prod__section--bitum-03 .prod__section-caption .prod__section-desc {
            max-width: none;
            padding: 40rem 0; }
      .prod__section--bitum-04 .prod__section-desc figure {
        margin: 30rem 0;
        text-align: center; }
      .prod__section--bitum-05_1 .prod__section-image--right {
        margin: 20rem -20rem; }
        .prod__section--bitum-05_1 .prod__section-image--right img {
          width: 100%; }
      .prod__section--bitum-05_2 .prod__section-image--left {
        padding: 0;
        margin: 20rem -20rem; }
        .prod__section--bitum-05_2 .prod__section-image--left img {
          width: 100%; } }
  @media (max-width: 575px) {
    .prod__section mark {
      float: left;
      margin-right: 20rem; }
    .prod__section h3 {
      font-size: 18rem;
      line-height: 22rem;
      overflow: hidden;
      min-height: 44rem;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center; }
    .prod__section--txt {
      padding: 40rem 0 80rem; }
    .prod__section--info .prod__section-image {
      margin: -120rem auto 20rem;
      max-width: 60%; }
    .prod__section--materials .prod__section-image--left {
      float: none;
      text-align: center;
      margin: 0 -20rem 20rem; }
      .prod__section--materials .prod__section-image--left img {
        display: inline-block;
        width: auto;
        max-width: 100%; }
    .prod__section--fiber-01 {
      padding: 40rem 0 0; }
      .prod__section--fiber-01 .row > [class^="col-"] {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column; }
      .prod__section--fiber-01 .prod__section-image--left {
        margin: 0 -20rem 20rem; }
      .prod__section--fiber-01 .prod__section-image--right {
        padding: 0;
        margin: 0 -20rem;
        -ms-flex-order: 1;
        order: 1; }
    .prod__section--fiber-02 {
      padding: 40rem 0 0; }
      .prod__section--fiber-02 .prod__section-image--left {
        margin: 0 -20rem; }
    .prod__section--fiber-03 {
      padding: 40rem 0 0; }
      .prod__section--fiber-03 .prod__section-image--left {
        margin: 0 -20rem 20rem; }
        .prod__section--fiber-03 .prod__section-image--left img {
          width: auto; }
      .prod__section--fiber-03 .prod__section-image--right {
        margin: 0 -20rem; }
    .prod__section--glasswear-01 .prod__section-image--right {
      margin: 0 -20rem 20rem;
      padding: 0; }
    .prod__section--glasswear-02 {
      padding: 40rem 0 0; }
      .prod__section--glasswear-02 .prod__section-image--left, .prod__section--glasswear-02 .prod__section-image--right {
        margin: 0 -20rem 20rem; }
      .prod__section--glasswear-02 .prod__section-image--right {
        margin: 0 -20rem; }
    .prod__section--glasswear-03 {
      padding: 40rem 0 0; }
      .prod__section--glasswear-03 .prod__section-image--right {
        margin: 0 -20rem 20rem; }
    .prod__section--glasswear-04 {
      padding: 40rem 0 0; }
      .prod__section--glasswear-04 .prod__section-image--left {
        margin: 0 -20rem; }
    .prod__section--glasswear-05_06 .prod__section-image--left {
      display: none; }
    .prod__section--glasswear-05_06 .prod__section-image--right {
      padding: 0;
      margin: 0 -20rem 40rem; }
    .prod__section--glasswear-07 {
      padding: 0; }
      .prod__section--glasswear-07 .prod__section-image--100vw {
        margin-bottom: 50rem; }
      .prod__section--glasswear-07 .prod__section-image--right {
        margin: 0 -20rem; }
    .prod__section-tile--01 {
      padding: 0 0 30rem; }
      .prod__section-tile--01 .prod__section-desc mark {
        float: none; }
      .prod__section-tile--01 .prod__section-image--left {
        margin: 0 -20rem 20rem; }
      .prod__section-tile--01 .prod__section-image--right {
        margin: 0 -20rem; }
      .prod__section-tile--01 .prod__section-image--circle {
        display: none; }
    .prod__section-tile--02 {
      padding: 0 0 30rem; }
      .prod__section-tile--02 .prod__section-desc {
        margin: 0; }
        .prod__section-tile--02 .prod__section-desc mark {
          float: none; }
      .prod__section-tile--02 .prod__section-image--left {
        margin: 0 -20rem 20rem; }
      .prod__section-tile--02 .prod__section-image--right {
        display: none; }
    .prod__section-tile--03 {
      padding: 0 0 30rem; }
      .prod__section-tile--03 .prod__section-image--100vw {
        margin-bottom: 0; }
      .prod__section-tile--03 .prod__section-image--top {
        top: 0;
        margin: 0 -20rem 20rem; }
      .prod__section-tile--03 .prod__section-image--left,
      .prod__section-tile--03 .prod__section-image--right {
        margin: 0 -20rem 0; }
      .prod__section-tile--03 .prod__section-desc {
        margin: 0; }
        .prod__section-tile--03 .prod__section-desc mark {
          float: none; }
      .prod__section-tile--03 .prod__section-caption {
        margin: 60rem 0 0; }
        .prod__section-tile--03 .prod__section-caption .prod__section-image {
          margin: -40rem auto 0;
          max-width: 70%; }
        .prod__section-tile--03 .prod__section-caption .prod__section-desc {
          padding: 40rem 0; }
    .prod__section-tile--04 {
      padding: 0 0 30rem; }
      .prod__section-tile--04 .prod__section-image--top {
        top: 0; }
      .prod__section-tile--04 .prod__section-image--right {
        margin: 0 -20rem; }
      .prod__section-tile--04 .prod__section-desc {
        margin: 0; }
        .prod__section-tile--04 .prod__section-desc mark {
          float: none; } }

.prod__section-title {
  display: block;
  text-align: center;
  font-size: 40rem;
  line-height: 48rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 80rem;
  color: #000; }
  .prod__section-title u {
    text-decoration: none;
    border-bottom: 4rem solid #000000; }
  @media (max-width: 991px) {
    .prod__section-title {
      font-size: 30rem;
      line-height: 38rem; } }
  @media (max-width: 767px) {
    .prod__section-title {
      font-size: 24rem;
      line-height: 30rem;
      margin: 0 0 40rem; }
      .prod__section-title u {
        border: none; } }

.prod__section-content {
  max-width: 800rem;
  margin: 0 auto; }

.prod__section-image {
  position: relative;
  display: block;
  text-align: center; }
  .prod__section-image img {
    display: inline-block;
    vertical-align: top; }
  .prod__section-image figcaption {
    font-style: normal; }
  .prod__section-image--top {
    top: -60rem;
    margin-bottom: -60rem; }
  .prod__section-image--100vw {
    left: 50%;
    width: 100vw;
    margin: 0 0 0 -50vw; }
    .prod__section-image--100vw img {
      display: block;
      width: 100%; }
  .prod__section-image--left {
    float: right;
    min-width: 50vw; }
    .prod__section-image--left img {
      display: block;
      width: 100%;
      max-width: none; }
  .prod__section-image--right {
    min-width: 50vw; }
    .prod__section-image--right img {
      display: block;
      width: 100%;
      max-width: none; }
  .prod__section-image--circle {
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    margin: 0 -80rem -50%; }
  @media (max-width: 767px) {
    .prod__section-image {
      margin-bottom: 20rem; } }

.prod__section-desc {
  position: relative;
  padding: 40rem 0; }
  .prod__section-desc ul {
    margin: 0 0 24rem;
    padding: 0;
    list-style: none; }
    .prod__section-desc ul > li {
      margin: 0 0 24rem;
      position: relative;
      padding: 0 0 0 24rem; }
      .prod__section-desc ul > li:after {
        content: '—';
        display: block;
        position: absolute;
        top: 0;
        left: 0; }

.prod__section-caption {
  position: relative;
  z-index: 1;
  margin: 40rem 0 120rem; }
  .prod__section-caption:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 100vw;
    margin: 0 0 0 -50vw;
    background: #fff;
    z-index: -1; }
  .prod__section-caption .prod__section-image {
    margin: -60rem 0; }
    .prod__section-caption .prod__section-image figcaption {
      margin: -40rem 0 0; }
  .prod__section-caption p {
    margin: 0; }

.prod__video {
  display: block;
  width: 100%;
  min-width: 100%;
  max-width: 1000rem;
  margin: 0 auto;
  position: relative;
  z-index: 1; }
  .prod__video:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 100vw;
    margin: 0 0 0 -50vw;
    z-index: -1;
    background: #F7F7F7; }
  .prod__video .icon-video {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 10;
    cursor: pointer; }
  @media (max-width: 575px) {
    .prod__video {
      padding: 10rem 0 30rem;
      margin: 0 -20rem; } }

.prod__section-panel {
  background: #fff;
  box-shadow: 0 4rem 24rem rgba(0, 0, 0, 0.07);
  position: relative;
  top: -80rem;
  padding: 40rem; }
  .prod__section-panel .row {
    -ms-flex-align: center;
    align-items: center;
    margin: 0 -20rem; }
    .prod__section-panel .row > [class^="col-"] {
      padding: 0 20rem; }

.prod__section-panel-image {
  display: block;
  margin: -80rem 0;
  text-align: center; }
  .prod__section-panel-image img {
    display: inline-block;
    vertical-align: top; }

.prod__section-panel-desc {
  max-width: 420rem;
  font-size: 18rem;
  line-height: 30rem; }
  .prod__section-panel-desc p:last-child {
    margin: 0; }

.prod__section-list {
  margin: 0 0 24rem;
  padding: 0;
  list-style: none; }
  .prod__section-list > li {
    position: relative;
    padding: 0 0 0 28rem;
    margin: 0 0 12rem; }
    .prod__section-list > li:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 8rem;
      background: url(../images/icon-list-arrow.png) 0 0 no-repeat;
      width: 9rem;
      height: 8rem; }
  @media (max-width: 767px) {
    .prod__section-list > li {
      padding: 0 0 0 22rem; } }

.prod__section-progress {
  margin: 0 -35rem;
  padding: 0 0 100rem;
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  font-size: 15rem;
  line-height: 20rem;
  font-weight: 400; }
  .prod__section-progress > li {
    position: relative;
    z-index: 1;
    padding: 0 35rem;
    -ms-flex: 1;
    flex: 1; }
    .prod__section-progress > li:after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 100%;
      width: 80rem;
      height: 3rem;
      background: #BF1E2E;
      margin: -1.5rem 0 0 -40rem;
      z-index: -1; }
    .prod__section-progress > li:before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 100%;
      width: 22rem;
      height: 22rem;
      background: url(../images/icon-prod-progress-plus.png) 0 0 no-repeat;
      background-size: contain;
      margin: -11rem 0 0 -11rem; }
    .prod__section-progress > li:last-child {
      -ms-flex: 1.5;
      flex: 1.5;
      font-weight: 600;
      text-transform: uppercase; }
      .prod__section-progress > li:last-child:after {
        display: none; }
      .prod__section-progress > li:last-child:before {
        display: none; }
    .prod__section-progress > li:nth-last-child(2):after {
      width: 60rem; }
    .prod__section-progress > li:nth-last-child(2):before {
      width: 10rem;
      height: 16rem;
      margin: -8rem 0 0 15rem;
      background-image: url(../images/icon-prod-progress-arrow.png); }
  .prod__section-progress picture {
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 0;
    background: #fff;
    border-radius: 50%; }
    .prod__section-progress picture:before {
      content: '';
      float: left;
      padding: 100% 0 0; }
    .prod__section-progress picture img {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover; }
  .prod__section-progress p {
    position: absolute;
    left: 0;
    right: 0;
    display: block;
    margin: 25rem -25rem;
    text-align: center; }
  @media (max-width: 767px) {
    .prod__section-progress {
      display: block;
      padding: 20rem 0;
      margin: 0 auto;
      max-width: 300rem; }
      .prod__section-progress > li {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        width: 100%;
        padding: 0 150rem 0 0;
        min-height: 80rem;
        margin: 0 0 50rem; }
        .prod__section-progress > li:after {
          width: 3rem;
          height: 60rem;
          top: 100%;
          left: auto;
          right: 65rem;
          margin: 0 -1.5rem 0 0; }
        .prod__section-progress > li:before {
          top: 100%;
          left: auto;
          right: 65rem;
          margin: 12rem -11rem 0 0; }
        .prod__section-progress > li:last-child {
          min-height: 130rem; }
          .prod__section-progress > li:last-child picture {
            width: 130rem;
            right: 0; }
        .prod__section-progress > li:nth-last-child(2):after {
          width: 3rem;
          height: 36rem; }
        .prod__section-progress > li:nth-last-child(2):before {
          -ms-transform: rotate(90deg);
          transform: rotate(90deg);
          width: 10rem;
          height: 16rem;
          margin: 28rem -4rem 0 0;
          background-image: url(../images/icon-prod-progress-arrow.png); }
      .prod__section-progress picture {
        width: 80rem;
        position: absolute;
        top: 50%;
        right: 25rem;
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%); }
      .prod__section-progress p {
        position: relative;
        margin: 0;
        text-align: left; } }
